* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.logo-text {
  font-weight: 700;
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  font-weight: 600;
}

.buds {
  color: #e1cd90;
}

.item {
  margin: 0 20px;
}

.nav-items {
  height: 52px;
  align-items: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

#menu {
  display: none;
}

.main-heading {
  font-weight: 600;
  margin-bottom: 20px;
}

.above {
  color: #1e4a99;
}

.section {
  margin-top: 70px;
  flex-wrap: wrap;
}

.right-items {
  width: 50%;
}

.left-items {
  width: 50%;
}

.my-btn {
  background-color: #e1cd90;
  border: 1px solid #e1cd90;
  font-weight: 600;
  padding: 8px 16px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.drone-img {
  width: 100%;
  height: auto;
}

.sub-heading {
  font-weight: 600;
  text-align: center;
}

.second-heading {
  text-align: right;
}

.para {
  text-align: right;
}

.paragraph {
  text-align: center;
}

.skyfly {
  font-weight: 600;
  color: #1e4a99;
}

.my-form {
  width: 65%;
}

.email {
  width: 68%;
  display: inline-block;
}

.submit {
  width: 30%;
  display: inline-block;
  background-color: #1e4a99;
}

footer {
  background-color: #404040;
  margin-top: 10px;
  height: 50px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

h6 {
  margin-bottom: 0;
  font-size: 12px;
}

@media screen and (max-width: 770px) {
  .container {
    max-width: 660px;
  }

  .item {
    margin: 0 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 690px) {
  .container {
    max-width: 590px;
  }

  .item {
    margin: 0 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    max-width: 490px;
  }

  .desktop {
    display: none;
  }

  .item {
    margin: 0 10px;
    font-size: 15px;
  }

  nav {
    display: none;
  }

  #menu {
    display: inline-block;
  }

  .section-two {
    flex-direction: column-reverse;
  }

  .left-items {
    width: 100%;
  }
  .right-items {
    width: 100%;
  }

  .svg {
    width: 100px;
    height: 100px;
  }

  .paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 515px) {
  .container {
    max-width: 420px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    max-width: 385px;
  }

  .nav-items {
    display: fixed;
  }

  .section {
    margin-top: 45px;
  }

  .submit {
    font-size: 12px;
  }

  .my-form {
    width: 80%;
  }

  .svg {
    width: 70px;
    height: 70px;
  }

  .paragraph {
    font-size: 12px;
  }

  .drone-img {
    margin-top: 5px;
  }
}
